AliSuperbot/config.py
AliSuperbot/*.session
AliSuperbot/*.session-journal
AliSuperbot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AliSuperbot/modules/helper_funcs/temp.txt
AliSuperbot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe
